{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Список іспитів{% endblock meta_title %}

{% block title %}Іспити{% endblock title %}

{% block content %}
<a class="btn btn primary" href="{% url "exams_add" %}">Додати іспит</a>

{% if exams %}
  <!--Start Exams Listing-->
  <table class="table table-hover table-striped">
    {% with order_by=request.GET.order_by reverse=request.GET.reverse%}
    <thead>
      <tr>
        <th><a href="{% url "exams" %}?order_by=id{% if order_by == 'id' and reverse != '1' %}&amp;reverse=1{% endif %}">
          №
          {% if order_by == 'id' and reverse != '1' %}&uarr;
          {% elif order_by == 'id' and reverse == '1' %}&darr;
          {% endif %}
        </th>    
        <th><a href="{% url "exams" %}?order_by=subject{% if order_by == 'subject' and reverse != '1' %}&amp;reverse=1{% endif %}">
          Назва предмету
          {% if order_by == 'subject' and reverse != '1' %}&uarr;
          {% elif order_by == 'subject' and reverse == '1' %}&darr;
          {% endif %}
        </th>
        <th><a href="{% url "exams" %}?order_by=date_time{% if order_by == 'date_time' and reverse != '1' %}&amp;reverse=1{% endif %}">
          Дата і час проведення
          {% if order_by == 'date_time' and reverse != '1' %}&uarr;
          {% elif order_by == 'date_time' and reverse == '1' %}&darr;
          {% endif %}
        </th>
        <th><a href="{% url "exams" %}?order_by=teacher{% if order_by == 'teacher' and reverse != '1' %}&amp;reverse=1{% endif %}">
          Викладач
          {% if order_by == 'teacher' and reverse != '1' %}&uarr;
          {% elif order_by == 'teacher' and reverse == '1' %}&darr;
          {% endif %}
        </th>
        <th><a href="{% url "exams" %}?order_by=group_exam{% if order_by == 'group_exam' and reverse != '1' %}&amp;reverse=1{% endif %}">
          Група
          {% if order_by == 'group_exam' and reverse != '1' %}&uarr;
          {% elif order_by == 'group_exam' and reverse == '1' %}&darr;
          {% endif %}
        </th>
        <th>Дії</th>
      </tr>
    </thead>
    {% endwith %}
    <tbody>
      {% for exam in exams %}
      <tr>
        <td>{{exam.id}}</td>
        <td>{{exam.subject}}</td>
        <td><a href="{% url "exams_edit" exam.id %}">{{exam.date_time}}</a></td>
        <td><a href="{% url "exams_edit" exam.id %}">{{exam.teacher}}</a></td>
        <td><a href="{% url "exams_edit" exam.id%}">{{exam.group_exam}}</a></td>
        <td>
          <div class="btn-group">
            <button class="btn btn-default dropdown-toggle"
                  type="button" data-toggle="dropdown">Дія
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Результати</a></li>
              <li><a href="{% url "exams_edit" exam.id %}">Редагувати</a></li>
              <li><a href="{% url "exams_delete" exam.id %}">Видалити</a></li>    
             </ul>
            </div>
          </td>
        </tr>
        {% endfor %}
        
      </tbody>
    </table>
    <!--End Exam Listing-->
  {% else %}
    <p>Поки немає екзаменів у базі</p>
  {% endif %}

  {% if exams.has_other_pages %}
  {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
  <nav>
    <ul class="pagination">
        <li><a href="{% url "exams" %}?page=1&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}">&laquo;</a></li>
        {% for p in exams.paginator.page_range %}
        <li {% if exams.number == p %}class="active"{% endif %}>
            <a href="{% url "exams" %}?page={{ p }}&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}">{{ p }}</a>
        </li>
        {% endfor %}
        <li>
          <a href="{% url "exams" %}?page={{ exams.paginator.num_pages }}&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}">&raquo;</a>
        </li>
    </ul>      
  </nav> 
  {% endwith %}
  {% endif %}

  {% endblock content %}