{% extends "students/base.html" %}

{% load static from staticfiles %}

{% load range_filter %}

{% load day_name_filter %}

{% block meta_title %}Відвідування{% endblock meta_title %}

{% block title %}Облік відвідування{% endblock title %}

{% block content %}
<!-- Current data -->
<div class="col-xs-12" id="data">
  <p align="center"><a href="#">&larr;</a><strong>Жовтень 2014</strong><a href="#">&rarr;</a></p>
</div>

<!-- Start Visiting Listing -->
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><p align="center">#</p></th>
      <th><p align="center">Студент</p></th>
        {% for day in month.total_days|get_range %}
          <th>{{forloop.counter0|get_day_name:month.start_day}}<p align="center">{{forloop.counter}}</p></th>
        {% endfor %}
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{month.student1.id}}</td>
      <td><a href="#">{{month.student1.name}}</a></td>
      {% for day in month.total_days|get_range %}
        {% if forloop.counter in month.student1.visiting_days %}
          <td><input type="checkbox" checked></td>
        {% else %}
          <td><input type="checkbox"></td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <td>{{month.student2.id}}</td>
      <td><a href="#">{{month.student2.name}}</a></td>
      {% for day in month.total_days|get_range %}
        {% if forloop.counter in month.student2.visiting_days %}
          <td><input type="checkbox" checked></td>
        {% else %}
          <td><input type="checkbox"></td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <td>{{month.student3.id}}</td>
      <td><a href="#">{{month.student3.name}}</a></td>
      {% for day in month.total_days|get_range %}
        {% if forloop.counter in month.student3.visiting_days %}
          <td><input type="checkbox" checked></td>
        {% else %}
          <td><input type="checkbox"></td>
        {% endif %}
      {% endfor %}
    </tr>
  </tbody>
</table>
{% endblock content %}