/* Global Styles */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* знайшли елемент футера по його унікальному ідентифікатору footer*/
#footer {
  /* задаємо верхню межу елементу: ширина лінії, тип лінії, колір лінії */
  border-top: 1px solid #F5F5F5;
  /* задаємо внутрішню відстань елемента до верхнього краю */
  padding-top: 15px;
  background-color: #F5F5F5;
}

/* Group Selector */
#group-selector {
  margin-top: 30px;
}
#group-selector select {
  margin: 0;
  width: 85%;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  height: 30px;
  line-height: 30px;
  color: #555555;
}

/*відстань між рядками container*/
.row {
  margin-top: 15px;
}

/*button submit*/
.b1 {
  background: #0000FF;
  color: #F5F5F5;
  border: 1px solid #0000FF;
  border-radius: 5px;
 }

/*button reset*/
.b2 {
  background: #F5F5F5;
  color: #0000FF;
  border: 1px solid #F5F5F5;
  border-radius: 5px;
}